img {
    border-radius: 50%;
    width: 15vw;
    margin: 1vw;
}

p3 {
    font-size: 1.5rem;
    margin: 1vw;
    text-align: center;
}

#block {
    margin: 1vw;
    display: grid;
    justify-items: center;
    animation: blocks 1.5s linear;

}

@keyframes blocks {
    from {
        opacity: 0%;
        transform: translate(-50%, 0);
    }

    to {
        opacity: 100%;
        transform: translate(0, 0);
    }
}